demo_jaxb/src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Users">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="User" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="User">
		<xs:complexType id="UserType">
			<xs:sequence>
				<xs:element name="Id" type="xs:int" />
				<xs:element name="UserName" type="xs:string" />
				<xs:element name="Password" type="xs:string" />
				<xs:element name="Birthday" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

